/* ************************************************************************* */
/* CSS for Staff */
/* ************************************************************************* */
body{
  font-family: 'Farro';
  margin: 0;
   padding: 0;
   background-image: url(satinweave.png);
   height: 100%;
  }
  h1 {
    text-align: center;
    color: black;
    font-size:50px;
    text-shadow: 2px 2px white;
  }
  .all-container{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    color: black;
    overflow: hidden;
  }
  .department-name{
    width: 65%;
    margin: auto;
    background: white;
    text-align: center;
    height: 90%;
  }
  .department-name h2{
    font-size: 40px;
    display: inline-block;
    border-bottom: 3px solid;
    margin-bottom: -20px;
    border-color: #a9d8cb;
  }
  /* Picture Alignment  */
  .picalign2{
    float: left;
    width: calc(100% / 2);
    padding: 40px 0;
  }

  .picalign2 img{
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .picalign3{
    float: left;
    width: calc(100% / 3);
    padding: 40px 0;
  }

  .picalign3 img{
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .picalign1{
    float: left;
    width: calc(100% / 1);
    padding: 40px 0;
  }

  .picalign1 img{
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .name{
    font-size: 40px;
    margin-top: 12px;
    color:  #a9d8cb;
    text-shadow: .5px .5px black;
  }

/* Overlays */
#abdul:hover::after{
    content: "Sales Director | 555-5551";
    position: relative;
    color: black;
    font-size: 20px;
    text-align: center;
}

#david:hover::after{
  content: 'Sales Associate | 555-5552';
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
}

#angie:hover::after{
  content: 'Service Director | 555-5553';
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
}

#matt:hover::after{
  content: 'Service Advisor | 555-5554';
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
}

#chris:hover::after{
  content: 'Parts Director | 555-5555';
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
}

#sean:hover::after{
  content: 'Parts Associate | 555-5556';
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
}

#jim:hover::after{
  content: 'Parts Associate | 555-5557';
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
}

#debbie:hover:after{
  content: 'Finance Director | 555-5558';
  position: relative;
  color: black;
  font-size: 20px;
  text-align: center;
  
}

/* ************************************************************************* */
/* CSS for Navigation */
/* ************************************************************************* */
.navbar {
  overflow: hidden;
  background-color: black;
  font-family: 'Farro';
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color:  #a9d8cb;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
